@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../../../fonts/glyphicons-halflings-regular.tff');
}

.page {
 background-color: #111;
 height: 100%;
}

h1 .btn { top: -4px; }

.btn-default {
 background-color:transparent;
 color:white;
}

.container {
 padding: 200 0 0 0px;
 color: white;
}

.show-thumbnail img {
 width: auto;
 height: 150px;
 transition: transform 0.2s;
 cursor:pointer;
 margin: 6 12 6 12px;
 border: solid 1px #444;
}

.show-thumbnail:hover img {
 transform: scale(1.35);
 border: solid 1px #aaa;
 filter: brightness(50%);
 -webkit-filter: brightness(50%);

}

.show-thumbnail:hover h4 {
 opacity: 1;
}

.show-thumbnail h4 {
 transition: all 0.2s;
 position: relative;
 top: -160px;
 left: 25px;
 opacity: 0;
}
